                * {
                    margin: 0;
                    padding: 0;
                    box-sizing: border-box;
                }
                
                .container {
                    min-height: 100vh;
                    width: 100vw;
                    font-family: 'Poppins', sans-serif;
                    display: flex;
                    flex-direction: column;
                    /* justify-content: center; */
                    /* align-items: center; */
                }
                
                .nav-bar {
                    height: 15vh;
                    background-color: black;
                    display: flex;
                    justify-content: space-between;
                }
                
                nav {
                    width: 40%;
                }
                
                nav ul {
                    width: 80%;
                    color: fff;
                    text-decoration: none;
                    font-size: 18px;
                    display: flex;
                    justify-content: space-between;
                    height: 100%;
                    align-items: center;
                }
                
                nav ul li {
                    list-style-type: none;
                }
                
                nav ul li a {
                    text-decoration: none;
                    display: inline;
                    color: white;
                }
                
                nav ul li a:hover {
                    color: rgb(131, 130, 130);
                }
                
                .nav a {
                    color: fff;
                    text-decoration: none;
                    font-size: 18px;
                }
                
                .welcome-text H1 {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    padding-top: 10%;
                }
                .body-container {
                    padding: 20px;
                    display: flex;
                    justify-content: space-around;
                    background-color: bisque;
                    background-repeat: no-repeat;
                    background-size: cover;
                    height: 100vh;

                }
        .content {
           width: 85%;
           margin-top: 2em;
        }
        .content h1 {
            text-align: center;
        }
        .main-container {
            margin-top: 2em;
            width: 100%;
            display: flex;
            justify-content: space-between;
        }
        .welcome-text {
            width: 50%;
        }
        .list ul li {
            list-style-type: none;
            padding-top: 10px;
            font-weight: bold;
        }
        @media screen and (max-width:671px) {
            .main-container {
                display: flex;
                flex-direction: column;
                justify-content: center;
            }
            .welcome-text {
                width: 100%;
                padding-top: 20px;
            }
             .main-container .list, 
             .main-container .welcome-text p {
                 text-align: center;
             }   
             .nav-bar {
                display: flex;
                flex-direction: column;
                height: 22vh;
            }
            .nav-bar img {
                width: 80px;
                height: 80px;
                align-self: center;
            }
            nav ul {
                padding-bottom: 10px;
            }
                
            }