* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
}

.nav-bar {
    /* height: 15vh; */
    background-color: black;
    display: flex;
    justify-content: space-between;
}
.nav-bar img {
    height: 70px;
    margin-left: 20px;
}
nav {
    /* width: 40%; */
    margin-right: 20px;
}

nav ul {
    /* width: 80%; */
    color: fff;
    text-decoration: none;
    font-size: 18px;
    display: flex;
    justify-content: space-between;
    height: 100%;
    align-items: center;
}

nav ul li {
    list-style-type: none;
    padding-left: 15px;
    padding-right: 10px;
}

nav ul li a {
    text-decoration: none;
    display: inline;
    color: white;
}

nav ul li a:hover {
    color: rgb(131, 130, 130);
}

.nav a {
    color: fff;
    text-decoration: none;
    font-size: 18px;
} 
.wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 5%;
    margin-left: 20%;
    margin-top: 8%;
    
}
.bloge_card {
    width: 400px;
    height: 350px;
    box-shadow: 2px 5px 10px black;
    padding: 20px;
    margin-right: 20px;
    margin-top: 20px;
}
.bloge_card img {
    width: 250px;
    height: 150px;
}
@media screen and (max-width:671px) {
    .wrapper {
        display: flex;
        flex-direction: column-reverse;
    }
    .pics2 img {
        width: 250px;
        height: 150px;
    }
    .pics img {
        width: 250px;
        height: 150px;
    }
    .pics2 {
        padding-bottom: 50px;
    }
        .nav-bar {
            display: flex;
            flex-direction: column;
            height: 22vh;
        }
        .nav-bar img {
            width: 80px;
            height: 80px;
            align-self: center;
        }
        nav ul {
            padding-bottom: 10px;
        }

}