* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    min-height: 100vh;
    width: 100vw;
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* align-items: center; */
}

.nav-bar {
    height: 15vh;
    background-color: black;
    display: flex;
    justify-content: space-between;
}

nav {
    /* width: 40%; */
    margin-right: 30px;
}

nav ul {
    /* width: 80%; */
    color: fff;
    text-decoration: none;
    font-size: 18px;
    display: flex;
    justify-content: space-between;
    height: 100%;
    align-items: center;
}

nav ul li {
    list-style-type: none;
    padding-left: 15px;
    padding-right: 5px;
}

nav ul li a {
    text-decoration: none;
    display: inline;
    color: white;
    padding-right: 10px;
}

nav ul li a:hover {
    color: rgb(131, 130, 130);
}

.nav a {
    color: fff;
    text-decoration: none;
    font-size: 18px;
} 
.login{  
    width: 100%;  
    overflow: hidden;     
    padding: 12px;    
    border-radius: 15px ;  
}
    h1 { 
            text-align: center;  
            color:black;  
            padding: 15px;
            height: 200%;
     }   
     body{
        background-color: white;
        width: 100%;
        /* height: 100vh; */
     }
     .all {
         width: 100%;
         padding: 12px;
         display: flex;
         justify-content: space-around;
     }
     .form {
         display: flex;
         flex-direction: column;
         height: 350px;
         justify-content: center;
         border-radius: 15px ; 
         background-color: rgb(189, 189, 189);
         width: 40%;  
         padding-left: 50px;
     }
     .form input{
         width: 80%; 
         padding: 20px;
         border-radius: 20px 20px;
         height: 30px;  
        border: none;  
        border-radius: 20px;  
        /* padding-left: 7px;   */
        color: black;  
      
     }
      #log{
         width: 40%;
         background: green;
         color: white;
         font-size: 16px;
         margin-left: 15%;
         margin-top: 50px;
         text-align: center;
         padding: 0px;
         height: 40px;
     }
     #log a{color: white;}
     label {
         display: flex;
         flex-direction: column;
         font-size: large;
     }
     @media screen and (max-width:671px) {
         .form {
             width: 100%;
         }
         .nav-bar {
            display: flex;
            flex-direction: column;
            height: 22vh;
        }
        .nav-bar img {
            width: 80px;
            height: 80px;
            align-self: center;
        }
        nav ul {
            padding-bottom: 10px;
        }
     }