* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100vh;
}
form{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 35%;
    margin: 20px;
    padding: 50px 0;
    box-shadow: 2px 2px 5px 2px gray;
}
input [type=password] {
    width: 400em;
    height: 40em;
    border: 10px solid black;
    border-radius: 4px; 
    /* box-sizing: border-box; */
    
    resize: horizontal
    }
    #currentpassword,#Newpassword,#Confirmpassword{
        width: 20em;
        height: 2em;
    }

    input[type=submit] {
        background-color: rgb(49, 105, 112);
        color: white;
        width: 9em;
        height: 3em;
        border: none;
        border-radius: 4px;
        margin: 10px;
        cursor: pointer;
    }
    input[type=submit]:hover {
        background-color: #45a049;
    }
    .btn{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center; 
        margin: 20px; 
    }