.container-fluid{
    width: 100%;
   
}
.container{
    width: 85%;
    padding: 6%;
    
}
table{width: 100%;}
td,th {
    border: 1px solid #ddd;
    padding: 8px;
    
  }
  
  tr:nth-child(even){background-color: #f2f2f2;}
  
  tr:hover {background-color: #ddd;}
  
 th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #383838;
    color: white;
  }
  td img{
      width: 30px;
      margin-left: 25%;
  }
  td img:hover{
      transform: scale(1.1);
      cursor: pointer;
  }