                    * {
                        margin: 0;
                        padding: 0;
                        box-sizing: border-box;
                    }
                    
                    .container {
                        min-height: 100vh;
                        width: 100vw;
                        font-family: 'Poppins', sans-serif;
                        display: flex;
                        flex-direction: column;
                        /* justify-content: center; */
                        /* align-items: center; */
                    }
                    
                    .nav-bar {
                        height: 15vh;
                        background-color: black;
                        display: flex;
                        justify-content: space-between;
                    }
                    
                    nav ul {
                        display: flex;
                        align-items: center;
                    }
                    
                    .body-container {
                        background-image: url(../asset/image/background\ image.jpg);
                        background-size: cover;
                        background-repeat: no-repeat;
                        display: flex;
                    }
                    
                    .welcome-text {
                        color: tan;
                    }